<ion-header>
    <img src="/assets/img/logo.png" alt="logo">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button routerLink="/login" (click)="register()" color="primary" shape="round">Registrar</ion-button>
    
  </div>
</ion-content>